.nx
node_modules*/
node_modules/.cache*/
package-lock.json
packages/miroir-core/node_modules*/
packages/miroir-core/dist*/
packages/miroir-core/dist/index.js
packages/miroir-core/dist/src/0_interfaces/2_domain/instanceDomainInterface.d.ts
packages/miroir-core/dist/src/index.d.ts
packages/miroir-core/node_modules*/
packages/miroir-mcp/dist*/
packages/miroir-mcp/tmp*/
packages/miroir-react/node_modules*/
packages/miroir-react/dist*/
packages/miroir-server/dist*/
packages/miroir-server/tmp*/
packages/miroir-server/indexedDb*/
packages/miroir-server/library*/
packages/miroir-server/miroir*/
packages/miroir-server/node_modules*/
packages/miroir-server/miroir-db*/
packages/miroir-server/tests/tmp*/
packages/miroir-server/miroir-indexedDb*/
packages/miroir-localcache-redux/node_modules*/
packages/miroir-store-filesystem/dist*/
packages/miroir-store-filesystem/node_modules*/
packages/miroir-store-indexedDb/dist*/
packages/miroir-store-indexedDb/node_modules*/
packages/miroir-store-mongodb/dist*/
packages/miroir-store-mongodb/node_modules*/
packages/miroir-store-postgres/node_modules*/
packages/miroir-store-postgres/dist*/
packages/miroir-localcache-redux/dist*/
packages/miroir-standalone-app/dist*/
packages/miroir-standalone-app/build*/
packages/miroir-standalone-app/indexedDb*/
packages/miroir-standalone-app/miroir*/
packages/miroir-standalone-app/node_modules*/
packages/miroir-standalone-app/package-lock.json
packages/miroir-standalone-app/tests/tmp/*
package-lock.json
packages/*/package-lock.json
.vitest
