{
  "openapi": "3.0.3",
  "info": {
    "title": "GitHub REST API excerpt: authenticated user and their repositories",
    "version": "1.1.4",
    "description": "Subset of https://github.com/github/rest-api-description/blob/836ce198db13a6fb194547e53eea99c6ddae495b/descriptions/api.github.com/api.github.com.json (main at 836ce198db13a6fb194547e53eea99c6ddae495b). Keeps GET /user (users/get-authenticated) and GET /user/repos (repos/list-for-authenticated-user), and only the schema properties the GitHub example binds, with their required entries. Deviation: GET /user answers oneOf [private-user, public-user] upstream; this excerpt keeps public-user only, the subset both views satisfy (private-user adds business_plus, ldap_dn, two_factor_authentication). GET /user/repos keeps the visibility, affiliation, sort, direction, per_page and page parameters (type, since and before are left out)."
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "operationId": "users/get-authenticated",
        "summary": "Get the authenticated user",
        "description": "OAuth app tokens and personal access tokens (classic) need the `read:user` scope, or the broader `user` scope, for this endpoint to return the private user response. The private user response includes additional fields such as `private_gists`, `total_private_repos`, `owned_private_repos`, `disk_usage`, `collaborators`, and `two_factor_authentication`. Tokens without these scopes receive the public user response.",
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/public-user"
                }
              }
            }
          }
        }
      }
    },
    "/user/repos": {
      "get": {
        "operationId": "repos/list-for-authenticated-user",
        "summary": "List repositories for the authenticated user",
        "description": "Lists repositories that the authenticated user has explicit permission (`:read`, `:write`, or `:admin`) to access.",
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/repository"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "visibility",
            "description": "Limit results to repositories with the specified visibility.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "public",
                "private"
              ],
              "default": "all"
            }
          },
          {
            "name": "affiliation",
            "description": "Comma-separated list of values. Can include:  \n * `owner`: Repositories that are owned by the authenticated user.  \n * `collaborator`: Repositories that the user has been added to as a collaborator.  \n * `organization_member`: Repositories that the user has access to through being a member of an organization. This includes every repository on every team that the user is on.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "owner,collaborator,organization_member"
            }
          },
          {
            "name": "sort",
            "description": "The property to sort the results by.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "created",
                "updated",
                "pushed",
                "full_name"
              ],
              "default": "full_name"
            }
          },
          {
            "name": "direction",
            "description": "The order to sort by. Default: `asc` when using `full_name`, otherwise `desc`.",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/per-page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "per-page": {
        "name": "per_page",
        "description": "The number of results per page (max 100). For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\"",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 30
        }
      },
      "page": {
        "name": "page",
        "description": "The page number of the results to fetch. For more information, see \"[Using pagination in the REST API](https://docs.github.com/rest/using-the-rest-api/using-pagination-in-the-rest-api).\"",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1
        }
      }
    },
    "schemas": {
      "simple-user": {
        "title": "Simple User",
        "description": "A GitHub user.",
        "type": "object",
        "properties": {
          "login": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "avatar_url": {
            "type": "string",
            "format": "uri"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "avatar_url",
          "html_url",
          "id",
          "login"
        ]
      },
      "public-user": {
        "title": "Public User",
        "description": "Public User",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "login": {
            "type": "string"
          },
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "avatar_url": {
            "type": "string",
            "format": "uri"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          }
        },
        "required": [
          "avatar_url",
          "html_url",
          "id",
          "login",
          "name"
        ]
      },
      "repository": {
        "title": "Repository",
        "description": "A repository on GitHub.",
        "type": "object",
        "x-github-breaking-changes": [
          {
            "changeset": "remove_use_squash_pr_title_as_default",
            "patch": {
              "properties": {
                "use_squash_pr_title_as_default": null
              }
            },
            "version": "2026-03-10"
          },
          {
            "changeset": "deprecate_beta_media_type",
            "patch": {
              "properties": {
                "master_branch": null
              }
            },
            "version": "2026-03-10"
          },
          {
            "changeset": "remove_has_downloads",
            "patch": {
              "properties": {
                "has_downloads": null
              },
              "required": [
                "archive_url",
                "assignees_url",
                "blobs_url",
                "branches_url",
                "collaborators_url",
                "comments_url",
                "commits_url",
                "compare_url",
                "contents_url",
                "contributors_url",
                "deployments_url",
                "description",
                "downloads_url",
                "events_url",
                "fork",
                "forks_url",
                "full_name",
                "git_commits_url",
                "git_refs_url",
                "git_tags_url",
                "hooks_url",
                "html_url",
                "id",
                "node_id",
                "issue_comment_url",
                "issue_events_url",
                "issues_url",
                "keys_url",
                "labels_url",
                "languages_url",
                "merges_url",
                "milestones_url",
                "name",
                "notifications_url",
                "owner",
                "private",
                "pulls_url",
                "releases_url",
                "stargazers_url",
                "statuses_url",
                "subscribers_url",
                "subscription_url",
                "tags_url",
                "teams_url",
                "trees_url",
                "url",
                "clone_url",
                "default_branch",
                "forks",
                "forks_count",
                "git_url",
                "has_issues",
                "has_projects",
                "has_wiki",
                "has_pages",
                "homepage",
                "language",
                "archived",
                "disabled",
                "mirror_url",
                "open_issues",
                "open_issues_count",
                "license",
                "pushed_at",
                "size",
                "ssh_url",
                "stargazers_count",
                "svn_url",
                "watchers",
                "watchers_count",
                "created_at",
                "updated_at"
              ]
            },
            "version": "2026-03-10"
          }
        ],
        "properties": {
          "id": {
            "description": "Unique identifier of the repository",
            "type": "integer",
            "format": "int64"
          },
          "name": {
            "description": "The name of the repository.",
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "owner": {
            "$ref": "#/components/schemas/simple-user"
          },
          "private": {
            "description": "Whether the repository is private or public.",
            "default": false,
            "type": "boolean"
          },
          "html_url": {
            "type": "string",
            "format": "uri"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "language": {
            "type": "string",
            "nullable": true
          },
          "stargazers_count": {
            "type": "integer"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "description",
          "full_name",
          "html_url",
          "id",
          "name",
          "owner",
          "private",
          "language",
          "stargazers_count",
          "updated_at"
        ]
      }
    }
  }
}
